@font-face{
    font-family: 'Slenco-Black';
    src:url('../fonts/Slenco-Black\ demo.otf')
}

.cont-img-input{
    display:flex;
    flex-direction: row;
    background-color:  rgb(19, 19, 19);
    justify-content: space-between;
}

.contraseña{
    padding: 1px;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/1eb25b90032199.5e0a9157a87b5.jpg');
    background-size:cover;
    width:75%;
    height: 600px;
}

.admins{
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: 'Slenco-Black';
    font-size: 40px;
}

.cont-contraseña{
    background-color: black;
    margin: 10% 70px;
    padding:10px;
    height: fit-content;
    border-radius: 50px;
    color: white;
}

.text-contraseña{
    font-family: 'Slenco-Black';
    color: white;
}

.btn-contraseña{
    font-family: 'Slenco-Black';
    font-size: 18px;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 15px;
    width:100px;
    height: 50px;
    background-color: rgb(233, 35, 35);
    transition: 250ms;
    border-color: black;
    border-radius: 20px;
}
.btn-contraseña:hover{
    background-color: black;
    border-style: solid;
    border-color:rgb(202,0,0);
    border-width: 3px;
    color:rgb(202,0,0);
}

.cont-botonesAdmin{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.btn-listita{
    font-family: 'Slenco-Black';
    font-size: 18px;
    width:175px;
    height: 100px;
    background-color: rgb(233, 225, 51);
    transition: 250ms;
    border-color: rgb(19, 19, 19);
    border-radius: 20px;
}
.btn-listita:hover{
    background-color: black;
    border-style: solid;
    border-color:rgb(233, 225, 51);
    border-width: 3px;
    color:rgb(233, 225, 51);
}

.btn-form{
    font-family: 'Slenco-Black';
    font-size: 18px;
    width:175px;
    height: 100px;
    background-color: rgb(23, 221, 66);;
    transition: 250ms;
    border-color: rgb(19, 19, 19);
    border-radius: 20px;
}
.btn-form:hover{
    background-color: black;
    border-style: solid;
    border-color:rgb(23, 221, 66);
    border-width: 3px;
    color:rgb(23, 221, 66);
}

.btn-admin{
    font-family: 'Slenco-Black';
    font-size: 18px;
    margin-top: 0 ;
    width:175px;
    height: 100px;
    background-color: rgb(233, 35, 35);
    transition: 250ms;
    border-color: rgb(19, 19, 19);
    border-radius: 20px;
}
.btn-admin:hover{
    background-color: black;
    border-style: solid;
    border-color: rgb(233, 35, 35); 
    border-width: 3px;
    color:rgb(233, 35, 35);
}

.btn-pasSub{
    font-family: 'Slenco-Black';
    font-size: 18px;
    width:175px;
    height: 100px;
    background-color: rgb(2,145,236);
    transition: 250ms;
    border-color: rgb(19, 19, 19);
    border-radius: 20px;
}
.btn-pasSub:hover{
    background-color: black;
    border-style: solid;
    border-color:rgb(2,145,236);
    border-width: 3px;
    color:rgb(2,145,236);
}