@media screen and (max-width: 900px){
    .cont-cards{
        display: flex !important;
        flex-direction: column !important;
    }
    .searchBar1 input{
        margin: auto 0px 5px 0px !important;
        height: 25px !important;
    }
}

@media screen and (min-width: 1800px){
    .searchBar1 input{
        height: 6vh !important;
        font-size: 1.2vw !important;
    }
}

.cont-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.searchBar1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto auto auto;
    right: auto;
    width: 90%;
}
.filtros-btn{
    font-size: 1.7vw;
    width: 9vw;
    height: 8vh;
    border-radius: 5vw;
    font-family: 'Slenco-Black';
    padding: 5px 15px;
    margin: auto;
    cursor: pointer;
}
.searchBar1 input{
    width: 90%;
    height: 40px;
    font-size: 20px;
    border-radius: 50px;
    background: linear-gradient(145deg, white, #cecece);
    box-shadow:  22px 22px 44px #000000;
    padding: 5px 15px;
    margin-bottom: 5px;
    font-family: 'Slenco-Black';
}
.searchBar1 input::placeholder{
    color:#1b1b1b
}


.sub-filtro{
    background-color: black;
    color: white;
    position: absolute;
    left: 55%;
    top: 250px;
    padding: 10px;
    border-radius: 20px;
    box-shadow:  22px 22px 44px #000000;
}
.sub-filtro li{
    text-align: justify;
    font-family: 'Slenco-Black';
    font-size: 20px;
    cursor: pointer;
    margin:2px 20px;
    text-decoration: none;
}
.sub-filtro li:hover{
    color:rgb(23,221,66);
}