@media screen and (max-width: 900px){
    .cont-cards{
        flex-direction: column-reverse !important;
    }
}

.cont-cards{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}