@font-face{
    font-family: 'Heading';
    src:url('../fonts/Heading-Pro-ExtraBold-trial.ttf')
}

@media screen and (max-width: 900px){
    .contAll-blog{
        flex-direction: column !important;
    }
    .menu-blog{
        position: relative !important;
        margin: auto !important;
        display: block !important;
    }
    #cont-blog{
        margin: 100px auto 25px auto  !important;
        top: 5000px !important;

    }
    #cont-img-blog{
        flex-direction: column !important;
    }
    #img-blog{
        width: 300px !important;
        height: 300px !important;
        margin-left: 15px !important;
    }
    #img-blog-logo{
        width: 300px !important;
        height: 300px !important;
        margin-left: 15px !important;
    }
    #subt-blog{
        width: 300px !important;
        height: 100px !important;
    }
    .cont-galeria{
        display:flex !important;
        flex-direction: column !important;
    }
}

#cont-blog{
    margin: 25px 15% 25px 0%;
    padding:18px 20px;
    background-color: white;
}

#paper-blog{
    background-color: white;
    padding-bottom: 20px;
}

#titulo-blog{
    display: flex;
    position:initial;
    margin:5px;
    padding:15px 5px 5px 25px;
    font-family: 'Heading';
    font-size: 40px;
}

#cont-img-blog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
}
#img-blog{
    background-color: black;
    width: 350px;
    height: 350px;
    object-fit:scale-down;
    border: solid black;
    border-width: 10px;
    margin: 10px 10px;
    
}
#img-blog-logo{
    background-color: black;
    width: 200px;
    height: 200px;
    object-fit:cover;
    border: solid black;
    border-width: 10px;
    margin: 100px 100px;
    border-radius: 20px;
}
#subt-blog{
    color:rgb(0, 121, 196);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
    font-size: 30px;
}

#content-blog{
    text-align: justify;
    padding: 0px 3%;
}

#fecha-blog{
    justify-content: initial;
    display: flex;
    flex-direction: row;
    color:rgb(124, 124, 124);
    margin-left: 3%;
}

.contAll-blog{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu-blog{
    background-color: black;
    color:white;
    padding: 10px;
    margin: 25px 5% 25px 10%;
    width: 60%;
    height: fit-content;
    position: sticky;
    top: 50px;
}
.card-blogs{
    display: flex;
    flex-direction: column-reverse;
}
#tit-menu{
    text-align: justify;
    color: rgb(128, 206, 255);
    cursor: pointer;
}
#link{
    text-decoration: none;
}
.entradas-blog{
    display: flex;
    flex-direction: column-reverse;
}

.cont-galeria{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.link-comentarios{
    justify-content: left;
    color:black;
    width: 20%;
    border-color: black;
    border-radius: 15px;
}