
@font-face{
  font-family: 'Slenco-Black';
  src:url('../fonts/Slenco-Black\ demo.otf')
}

@media screen and (max-width: 900px){
  .img-container{
    width: 90% !important;
  }
  .img-container img{
    width: 98% !important;
  }

}

@media screen and (min-width: 1800px){
   .img-container h2{
    font-size: 1vh;
   }
}

.img-container {
    width: 400px;
    height: 600px;
    position: relative; 
    border-style: solid;
    border-color: black;
    border-width: 15px;
  }

  .img-container img{
    width: 400px;
    height: 600px;
    position: relative; 
    object-fit: cover;
  }
  
  .img-container h2 {
    margin: auto;  
    color: #fff;
    text-align: center;
    font-family: 'Slenco-Black';
    
    line-height: 600px; /* igual height de la imagen */
    
    background: #000;
    transition: opacity .4s linear;
    cursor: pointer;  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  
  .img-container:hover h2 {
    opacity: .75;  
  }

  .img-container h3 {
    margin: auto;  
    padding-top: 50px;
    color: #fff;
    text-align:center;
    font-family: 'Slenco-Black';
    
    line-height: 600px; /* igual height de la imagen */
    
    background: #000;
    transition: opacity .4s linear;
    cursor: pointer;  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  
  .img-container:hover h3 {
    opacity: .75;  
  }
