@media screen and (max-width: 900px){
    #cont-Footer{
        flex-direction: column !important;
    }
    #cont-redes{
        padding-bottom: 15px;
        border-bottom: solid thin white;
    }
    #cont-newsletter{
        border-bottom: solid thin white;
    }
    #cont-pasantia{
        width: 100% !important;
        padding-top: 25px;
        padding-left: 15%;
    }

    .vent-pasantia{
        bottom: -550px !important;
    }
    .vent-pasantia h2{
        margin: 20px 40px 40px 40px;
    }
    .nombre-edad{
        flex-direction: column !important;
        margin-bottom: 60px !important;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .p-edad{
        width: 25% !important;
    }

    .cont-mensajes{
        flex-direction: column !important;
    }
    .mensajes-inputs{
        height: 30px !important;
        margin: 10px 5% !important;
    }

    .mensajes-cuerpo{
        width: 100% !important;
    }
    #input-mensaje{
        height: 75px !important;

    }

}


#cont-Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}





#cont-redes{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    border-right: solid thin white;
}
#cont-redes h2{
    color: white;
    font-family: 'Slenco-Black';
}
#cont-ig{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
#cont-ig a{
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
}
#logo-ig{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#logo-igB{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
}




#cont-newsletter{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    padding: 0px 55px;
}
#cont-newsletter h2{
    color: white;
    font-family: 'Slenco-Black';
}
#cont-newsletter h4{
    color: white;
    font-family: 'Slenco-Black';
}
#cont-newsletter p{
    padding: 0;
    color: white;
}
#cont-newsletter button{
    margin: 25px auto;
}
#news-nombre{
    width: 50%;
    margin-left: 25%;
}






#cont-pasantia{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    width: 20%;
    justify-content: center;
}
#cont-pasantia button{
    color: black;
    background-color: rgb(233, 35, 35);
    font-family: 'Slenco-Black';
    font-size: 30px;
    width: 75%;
    transition: 500ms;
}
#cont-pasantia button:hover{
    color:white;
}
#cont-pasantia p{
    color: white;
    width: 75%;
    font-size: 16px;
}




.vent-pasantia{
    background-color: black;
    position: absolute;
    bottom: -150px;
    left: 10%;
    width: 70%;
    height: fit-content;
    padding-bottom: 25px;
    border-radius: 50px;
    border:solid thin rgb(23, 221, 66);
    box-shadow: 0px 2px 50px 19px rgba(0,0,0,0.88);
-webkit-box-shadow: 0px 2px 50px 19px rgba(0,0,0,0.88);
-moz-box-shadow: 0px 2px 50px 19px rgba(0,0,0,0.88);
}
.vent-pasantia h2{
    color:rgb(23, 221, 66);
    font-family: 'Slenco-Black';
}
.nombre-edad{
    display: flex;
    flex-direction: row;
    height: 25px;
    justify-content: center;
    margin-bottom: 20px;
}
.nombre-edad p{
    margin: 0 5px 0 25px;
    color: white;
}
.p-edad{
    width: 5%;
}
.enviar-pas{
    font-family: 'Slenco-Black';
    font-size: 18px;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 15px;
    width:100px;
    height: 50px;
    background-color: rgb(23, 221, 66);
    transition: 250ms;
    border-color: black;
    border-radius: 20px;
}
.enviar-pas:hover{
    background-color: black;
    border-style: solid;
    border-color:rgb(23, 221, 66);
    border-width: 3px;
    color:rgb(23, 221, 66);
}
.volver-pas{
    font-family: 'Slenco-Black';
    font-size: 18px;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 15px;
    width:100px;
    height: 50px;
    background-color: rgb(233, 35, 35);
    transition: 250ms;
    border-color: black;
    border-radius: 20px;
}
.volver-pas:hover{
    background-color: black;
    border-style: solid;
    border-color:rgb(202,0,0);
    border-width: 3px;
    color:rgb(202,0,0);
}


.derechos{
    font-size: 10px;
    color: white;
    text-align: left;
    margin-left: 25px;
}

.mensajes-inputs{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 10px 0%;
}
.mensajes h2{
    color: white;
}
.mensajes p{
    color:white;
}
.mensajes-inputs p{
    margin-right: 30%;
}
.mensajes-inputs input{
    margin-top: 20px;
    margin-left: 5%;
    height: 15px;
    width: 225px;
    padding: 0px;
}
.cont-mensajes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mensajes-cuerpo{
    width: 40%;
}
#input-mensaje{
    height: 125px;
    width: 90%;
}