@media screen and (max-width: 900px){
    #cont-Footer{
        flex-direction: column !important;
    }
    #cont-redes{
        padding-bottom: 15px;
        border-bottom: solid thin white;
    }
    #cont-newsletter{
        border-bottom: solid thin white;
    }
    #cont-pasantia{
        width: 100% !important;
        padding-top: 25px;
        padding-left: 15%;
    }

    .vent-pasantia{
        bottom: -200% !important;
        left: 15% !important;
    }
    .vent-pasantia h2{
        margin: 20px 40px 40px 40px;
    }
    .nombre-edad{
        flex-direction: column !important;
        margin-bottom: 60px !important;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .p-edad{
        width: 25% !important;
    }

    .cont-mensajes{
        flex-direction: column !important;
    }
    .mensajes-inputs{
        height: 30px !important;
        margin: 10px 0px !important;
    }

    .mensajes-inputs input{
        width: 65vw !important;
        height: 25px !important;
    }

    .mensajes-cuerpo{
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        object-position: center !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    #input-mensaje{
        margin-left: 20px !important;
        height: 75px !important;
        width: 80vw !important;
    }
    .whatsapp-btn{
        margin-left: 12vw !important;
    }
    #cont-ig a{
        font-size: 4vw !important;
        margin-top: 11px !important;
    }
    #logo-ig{
        width: 15vw !important;
    }
    #logo-igB{
        width: 15vw !important;
    }
    #cont-newsletter h2{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    #cont-newsletter h4{
        font-size: 6vw !important;
        margin: 0 !important
    }
    #cont-newsletter p{
        font-size: 4vw !important;
    }
    #cont-pasantia{
        padding: 0 auto !important;
        margin-top: -10vh !important;
    }
    #cont-pasantia button{
        font-size: 6vw !important;
    }
    #cont-pasantia p{
        font-size: 4vw !important;
    }
    .derechos{
        font-size: 4vw !important;
    }

}


@media screen and (min-width: 1800px){
    h1{
        font-size: 3vw !important;
    }
    h2{
        font-size: 2vw !important;
    }
    .mensajes-inputs p{
        font-size: 1vw !important;
    }
    .mensajes-inputs input{
        height: 3vh !important;
        width: 12vw !important;
        margin-top: 3vh !important;
    }
    .mensajes-cuerpo p{
        font-size: 1vw !important;
    }
    #input-mensaje{
        height: 15vh !important;
    }
    .whatsapp-btn{
        height: auto;
        width: 8vw;
        border-radius: 50%;
    }
}

#cont-Footer{
    display: flex;
    flex-direction: row;
    justify-content: start;
}





#cont-redes{
    display: flex;
    flex-direction: column;
    padding-right: 2.5vw;
    margin: 0 0 0 5vw;
}
#cont-redes h2{
    color: white;
    font-family: 'Slenco-Black';
}
#cont-ig{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
#cont-ig a{
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.1vw;
}
#logo-ig{
    height: auto;
    width: 3.5vw;
    border-radius: 50px;
}
#logo-igB{
    height: auto;
    width: 3.5vw;
    border-radius: 50px;
    
}




#cont-newsletter{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    padding: 0 4vw 0 0;
    margin-left: 5vw;
    justify-content: center;
}
#cont-newsletter h2{
    color: white;
    font-family: 'Slenco-Black';
    margin: 0;
}
#cont-newsletter h4{
    color: white;
    font-family: 'Slenco-Black';
    font-size: 1.3vw;
}
#cont-newsletter p{
    padding: 0;
    font-size: 1vw;
    color: white;
}
#cont-newsletter button{
    margin: 25px auto;
}
#cont-newsletter input{
    width: 50%;
    height: 2.5vh;
    margin-left: 25%;
}






#cont-pasantia{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    width: 20%;
    justify-content: center;
}
#cont-pasantia button{
    color: black;
    background-color: rgb(233, 35, 35);
    font-family: 'Slenco-Black';
    font-size: 1.7vw;
    width: 75%;
    transition: 500ms;
    margin-top: 12%;
}
#cont-pasantia button:hover{
    color:white;
}
#cont-pasantia p{
    color: white;
    width: 75%;
    font-size: 1vw;
}




.vent-pasantia{
    background-color: black;
    position: absolute;
    bottom: -85vh;
    left: 10vw;
    width: 70%;
    height: fit-content;
    padding-bottom: 70px;
    border-radius: 50px;
    border:solid thin rgb(23, 221, 66);
    box-shadow: 0px 2px 50px 19px rgba(0,0,0,0.88);
-webkit-box-shadow: 0px 2px 50px 19px rgba(0,0,0,0.88);
-moz-box-shadow: 0px 2px 50px 19px rgba(0,0,0,0.88);
}
.vent-pasantia h2{
    color:rgb(23, 221, 66);
    font-family: 'Slenco-Black';
}
.nombre-edad{
    display: flex;
    flex-direction: row;
    height: 25px;
    justify-content: center;
    margin-bottom: 2vh;
}
.nombre-edad p{
    margin: 0 1vh 3vh 1vh;
    font-size: 1vw;
    color: white;
}
.nombre-edad input{
    width: 10vw;
    height: 3vh;
    font-size: 1vw;
}
.p-edad{
    width: 5%;
}
.enviar-pas{
    font-family: 'Slenco-Black';
    font-size: 1.3vw;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 15px;
    width: 6vw;
    height: 6vh;
    background-color: rgb(23, 221, 66);
    transition: 250ms;
    border-color: black;
    border-radius: 20px;
}
.enviar-pas:hover{
    background-color: black;
    border-style: solid;
    border-color:rgb(23, 221, 66);
    border-width: 3px;
    color:rgb(23, 221, 66);
}
.volver-pas{
    font-family: 'Slenco-Black';
    font-size: 1.3vw;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 15px;
    width: 6vw;
    height: 6vh;
    background-color: rgb(233, 35, 35);
    transition: 250ms;
    border-color: black;
    border-radius: 20px;
}
.volver-pas:hover{
    background-color: black;
    border-style: solid;
    border-color:rgb(202,0,0);
    border-width: 3px;
    color:rgb(202,0,0);
}


.derechos{
    font-size: 0.8vw;
    color: white;
    text-align: left;
    margin: 0 0 10px 25px;
}

.mensajes-inputs{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 10px 0%;
}
.mensajes h2{
    color: white;
}
.mensajes p{
    color:white;
}
.mensajes-inputs p{
    margin-right: 30%;
    
}
.mensajes-inputs input{
    margin-top: 20px;
    margin-left: 2vw;
    height: 15px;
    width: 12vw;
    padding: 0px;
}
.cont-mensajes{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 2vw;
    padding-left: 3.5vw;
}
.mensajes-cuerpo{
    width: 40%;
    margin-left: 2vw;
    padding-left: 0.5vw;
}
#input-mensaje{
    height: 125px;
    width: 35vw;
}