@media screen and (max-width: 900px){
    #input-post{
        width: 90% !important;
        margin: auto !important;
    }
}

#titulo-form{
    color: rgb(23, 221, 66);
    padding: 15px 0px;
}

#cont-formPost{
    color: rgb(23, 221, 66);
    background-color: black;
    margin: 0px 50px;
    padding: 15px 10px;
    border-radius: 50px;
    border-style: solid;
    border-color:rgb(23, 221, 66);
}

#form-post{
    display: flex;
    flex-direction: column;
}

#input-post{
    border-radius: 15px;
    width: 33%;
    margin-left: 33%;
}
#input-postC{
    border-radius: 15px;
    width: 55%;
    height: 100px;
    margin-left: 22%;
}

#btn-crear{
    font-family: 'Slenco-Black';
    font-size: 18px;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    width:200px;
    height: 50px;
    background-color: rgb(23, 221, 66);
    transition: 250ms;
    border-color: black;
    border-radius: 20px;

}
#btn-crear:hover{
    background-color: black;
    border-style: solid;
    border-color:rgb(23,221,66);
    border-width: 3px;
    color:rgb(23,221,66);
}
