@media screen and (max-width: 900px){
    .slider li{
        width: 50% !important;
        top: 20% !important;
    }
}

.cont-gal{
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
}
.cont-gal ul, li{
    list-style: none;
}
.slider{
    object-position: center;
    width: 80%;
}
.slider li{
    opacity: 0;
    position: absolute;
    width: 75%;
    height: inherit;
    margin:auto;
    transition: opacity .5s;
}

.slider li:target{
    opacity:1;
}


.flecha{
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: 'Baron';
    font-size: 40px;
    padding:  0px 10px;
    width: 60px;
    height: 60px;
    border-radius: 25px; 
    cursor: pointer;
    margin-top: 20%;
}
