@media screen and (max-width: 900px){
    .slider{
        width: 40% !important;
    }
    .slider li{
        max-width: 20px !important;
        height: 10px !important;
        margin-top: 100px !important;
        left: 0 !important;
    }
    .flecha{
        margin-top: 0px!important;
    }
}

.cont-gal{
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cont-gal ul, li{
    list-style: none;
}
.slider{
    object-position: center;
    width: 80%;
}
.slider li{
    opacity: 0;
    width: 75px;
    height: 100px;
    margin:auto;
    transition: opacity .5s;
}

.slider li:target{
    opacity:1;
}
.slider li:first-child{
    opacity: 1;
}


.flecha{
    background-color: black;
    text-decoration:none;
    font-weight: bold;
    color: white;
    font-family: 'Baron';
    font-size:  40px;
    padding:  0px 10px;
    width: 60px;
    height: 60px;
    border-radius: 25px; 
    cursor: pointer;
    margin-top: 20%;
}
