@media screen and (max-width: 900px){
    #galeria-M{
        grid-template-columns: auto !important;
    }
    #img-blog-gal{
        margin-left: 0px !important;
    }
    .imagen-modal a:nth-child(1){
        position: absolute;
        left: 0px;
        top:80%
    }
    .imagen-modal a:nth-child(3){
        position: absolute;
        right: 0px;
        top:80%
    }
}

#galeria-M{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 0px;
}
#img-blog-gal{
    width: 300px;
    height: 300px;
    margin-left: 15px;
}

.modal{
    display: none;
}
.modal:target{
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.8);
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

.imagen-modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagen-modal a{
    color: white;
    font-size: 60px;
    text-decoration: none;
    margin: 0 50px;
}
.imagen-modal img{
    width: 70%;
    height: 100%;
    object-fit: scale-down;
}

.cerrar-modal{
    display: block;
    position: fixed;
    background-color: white;
    height: 60px;
    width: 60px;
    font-size: 40px;
    border-radius: 30px;
    text-decoration: none;
    color:black;
    font-family: 'Slenco-Black';
    line-height: 60px;
    text-align: center; 
    margin: 15px; 
    top:0px;
}