@font-face{
    font-family: 'Slenco-Black';
    src:url('../fonts/Slenco-Black\ demo.otf')
}


@font-face{
    font-family: 'The-Next-Font';
    src:url('../fonts/TheNextFont.ttf')
}

@font-face{
    font-family: 'Baron';
    src:url('../fonts/Baron\ Neue.otf')
}



.link{
  text-decoration: none;  
}

.estructure{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.artistic{
    background-image: url('https://i.pinimg.com/originals/b8/fd/53/b8fd53427350cbfdeb75130d25db152a.jpg');
    background-size: cover;
    width: 50%;
    display: flex;
    justify-content: center;
}

.artistic-tit{
    margin-top: 100px;
    margin-bottom: 500px;
    background-color: black;
    color: white;
    width: 450px;
    height: 75px;
    border-radius: 30px;
    transition: 300ms;
}
.artistic-tit:hover{
    color:black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.comercial{
    background-image: url('https://i.pinimg.com/originals/d1/79/53/d17953b2889f689af7ab84728b7f6ee5.jpg');
    background-size: cover;
    width: 50%;
    display: flex;
    justify-content: center;
}

.comercial-tit{
    margin-top: 100px;
    margin-bottom: 500px;
    background-color: black;
    color: white;
    width: 450px;
    height: 75px;
    border-radius: 30px;
    transition: 300ms;
}
.comercial-tit:hover{
    color:black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

h1{
    font-family: 'Baron';
    font-size: 50px;
    color:white;
    margin: 0px;
    padding: 10px 0px;
}
