@media screen and (max-width: 900px){
    .tit-pas{
        font-size: 40px !important;
    }
    .sub-list{
        display: flex !important;
        flex-direction: column !important;
    }
    .sub-list2{
        display: flex !important;
        flex-direction: column !important;
    }
    .sub-list button{
        width: 50% !important;
        margin: 10px auto !important;
    }
    .sub-list2 button{
        width: 50% !important;
        margin: 10px auto !important;
    }
    .item2{
        display: flex !important;
        flex-direction: column !important;
        margin: 5px !important;
    }
}

.tit-pas{
    color: rgb(2,145,236);
}


.cont-newsSub h2{
    color: white;
    font-family: 'Slenco-Black';
}

.cont-pasantes h2{
    color: white;
    font-family: 'Slenco-Black';
}

.sub-list{
    display: grid;
    grid-template-columns: 30% 50% 7%;
    justify-content: left;
    background-color: black;
    border-top: solid thin rgb(2,145,236);
    height: fit-content;
    padding-left: 10%;
}
.sub-list button{
    height:30px;
    margin-top: 12px;
    cursor: pointer;
    background-color: rgb(2,145,236);
    color: black;
    border-color: black;
    transition: 500ms;
}
.sub-list button:hover{
    background-color: black;
    color: rgb(2,145,236);
    border-color: rgb(2,145,236);
}

.item{
 display: flex;
 flex-direction: row;
 
}
.item h3{
    color: white;
    height: 20px;
    font-size: 16px;
    margin-right: 2%;
}
.item p{
    color:white;
    height: 20px;
    font-size: 14px;
    padding-top: 5px;
}


.sub-list2{
    display: grid;
    grid-template-columns: 25% 12% 20% 30% 7%;
    justify-content: left;
    background-color: black;
    border-top: solid thin rgb(2,145,236);
    height: fit-content;
    padding-left: 5%;
}
.sub-list2 button{
    height:30px;
    margin-top: 12px;
    cursor: pointer;
    background-color: rgb(2,145,236);
    color: black;
    border-color: black;
    transition: 500ms;
}
.sub-list2 button:hover{
    background-color: black;
    color: rgb(2,145,236);
    border-color: rgb(2,145,236);
}

.sub-list2{
    display: grid;
    grid-template-columns: 20% 32% 20% 15%;
    justify-content: left;
    background-color: black;
    border-top: solid thin rgb(2,145,236);
    height: fit-content;
    padding-left: 5%;
}
.sub-list2 button{
    height:30px;
    margin-top: 12px;
    cursor: pointer;
    background-color: rgb(2,145,236);
    color: black;
    border-color: black;
    transition: 500ms;
}
.sub-list2 button:hover{
    background-color: black;
    color: rgb(2,145,236);
    border-color: rgb(2,145,236);
}
.item2{
    background-color: rgb(0, 23, 37);
    color: rgb(2,145,236);
    display: flex;
    flex-direction: row;
}
.item2 p{
margin: auto;
}
.item2 h3{
    margin-left: 2%;
}