@font-face{
    font-family: 'Slenco-Black';
    src:url('../fonts/Slenco-Black\ demo.otf')
}

@media screen and (max-width: 900px){
    #form-tareas{
        flex-direction: column !important;
    }
    #inputs{
        display: block !important;
        margin: auto !important;
    }
    .cont-tarea{
        flex-direction: column !important;
    }
    #data-tarea{
        height: fit-content !important;
        width: 80% !important;
        margin: auto !important;
    }
    #data{
        height: fit-content !important;
        width: 80% !important;
        margin: auto !important;
    }
    #input-tarea{
        width: 90% !important;
        margin: auto
    }
    #B-crear-tarea{
        margin: 15px auto !important;
        
    }
    #B-delete{
        width: 80% !important;
        margin: 25px auto 15px auto !important;
    }
    #img-adminPost{
        display: block !important;
        margin: 25px auto 0 auto !important;
    }
    #admin-tit{
       font-size: 40px !important;
    }
}

body{
    background-color:  rgb(19, 19, 19);
}

#titulo-tareas{
    color:rgb(233, 225, 51);
    margin: 10px 0px;
}

#cont-form-tareas{
    background-color: rgb(233, 225, 51);
    padding-top: 1px;
    padding-bottom: 15px;
}

#form-tareas{
    display: flex;
    justify-content: center;
}
#labels{
    font-family: 'Slenco-Black';
    font-size: 24px;
    padding: 10px 10px;
}
#inputs{
    border-radius: 15px;
    width: 150px;
}
#input-tarea{
    border-radius: 15px;
    width: 450px;
}
#B-crear-tarea{
    margin-left: 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: rgb(233, 225, 51);
    color: black;
    font-family: 'Slenco-Black';
    font-size: 24px;
    transition:300ms;
}
#B-crear-tarea:hover{
    background-color: black;
    color:rgb(233, 225, 51);
}

.cont-tarea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 20px;
    padding-bottom: 15px;
    background-color: black;
    border-radius: 50px;
}
#label2{
    color:white;
}
#data{
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 0px 10px;
    font-weight: bold;
}
#data-tarea{
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 0px 10px;
    width: 450px;
    font-weight: bold;
    font-size: 18px;
}
#B-delete{
    height: 30px;
    margin-top: 33px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: rgb(233, 35, 35);
    font-family: 'Slenco-Black';
    font-size: 24px;
    transition:300ms;
}
#B-delete:hover{
    background-color: rgb(233, 35, 35);
    color:black;
}

#img-adminPost{
    border-radius: 25px;
    object-fit: cover;
    margin-top: 20px;
    width: 75px;
    height: 75px;
}

#admin-tit{
    color:rgb(233, 35, 35);
    margin: 20px;
}

.botonesAdmin{
    display: flex;
    flex-direction: column;
}

#B-editar{
    height: 30px;
    margin-top: 33px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: black;
    color:rgb(233, 225, 51);
    font-family: 'Slenco-Black';
    font-size: 24px;
    transition:300ms;
}
#B-editar:hover{
    background-color: rgb(233, 225, 51);
    color:black;
}